.container-table_l{
	width: 100%;
	background-color: white;
	margin: 50px auto;

	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-auto-rows: auto;

	box-shadow: 0,0,20px #474544;
}
.table_title_l{ 
	font-weight: bold;
	grid-column-start: 1;
	grid-column-end: 17;
}
.table_headre_l, .table_item_l{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.table_header_l{
	padding: 5px;
	background-color: #474544;
	color: white;
	font-size: auto;
}
.table_item_l{
	padding: 5px;
	
}